.round{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #a855f7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons{
    transition: all 0.3s ease-in;
}

.round:hover .icons{
    transform: scale(1.3);
    color: #a855f7;
}
.contact-card{
    border: 1px solid #a855f7;
    height: 210px;
}