:root {
    --primary-bg-color: #f2f2f2;
    --primary-text-color: #333;
}

body {
    background: linear-gradient(180deg, #1a1a2e 0%, #101021 100%);
    color: white;
    min-height: 100vh;
    background-attachment: fixed;
}

.primary-text-color {
    color: #a855f7;
}

.primary-bg-color {
    background-color: #a855f7;
}

.gradient-text {
    background: linear-gradient(120deg, #a855f7 20%, #ec4899 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3.5rem;
    line-height: 1.1;
}
.contact-btn{
    border :1px solid #a855f7;
}