@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --primary-bg-color: #f2f2f2;
    --primary-text-color: #333;
}

body {
    background: linear-gradient(180deg, #1a1a2e 0%, #101021 100%);
    color: white;
    min-height: 100vh;
    background-attachment: fixed;
}


.pointer{
    cursor: pointer;
}

.primary-text-color {
    color: #a855f7;
}

.primary-bg-color {
    background-color: #a855f7;
}

.lora-text {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}
.gradient-text {
    background: linear-gradient(120deg, #a855f7 20%, #ec4899 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Bebas Neue", sans-serif;
      font-style: normal;
    font-size: 3.5rem;
    line-height: 1.1;
}
.btn-1{
    border: none;
    color: white;
}
.btn-2{
    border :1px solid #a855f7;
    background-color: transparent;
    color: #a855f7;
}
.btn-1:hover{
    background-color: transparent;
    border :1px solid #a855f7;
    color: #a855f7;
}
.btn-2:hover{
    background-color: #a855f7;
    color: white;
}

.sub-heading{
    border-bottom: 3px solid white;
}
.go-to-top{
    margin-bottom: 4rem;
}

@media (max-width:786px) {
    .go-to-top{
        margin-bottom: 150px;
    }
}